<div class="page-header">
  <h1>
    Babysitters
    <a href="/babysitters/new" class="btn btn-lg btn-success">Add  Babysitter</a>
  </h1>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-hover">
      <tr>
        <th>Picture</th>
        <th>Name</th>
        <th>Age</th>
        <th>Phone</th>
        <th>Email</th>
        <th>Hourly Rate</th>
        <th>Actions</th>
      </tr>

      <% @babysitters.each do |babysitter| %>
      <tr>
        <td><img src="<%= babysitter.picture %>" alt="" width="200"></td>
        <td><%= babysitter.name %></td>
        <td><%= babysitter.age %></td>
        <td><%= number_to_phone(babysitter.phone) %></td>
        <td><%= mail_to(babysitter.email) %></td>
        <td><%= number_to_currency(babysitter.rate) %></td>


        <td>
          <a href="/babysitters/<%= babysitter.id %>" class="btn btn-primary">Show</a>
          <a href="/babysitters/<%= babysitter.id %>/edit" class="btn btn-warning">Edit</a>
          <a href="/delete_babysitter/<%= babysitter.id %>" class="btn btn-danger" rel="nofollow">Delete</a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>
